@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb; /* Light gray background */
  color: #111827; /* Dark text color for better readability */
  margin: 0;
  padding: 0;
}
